.banner {
  position: relative;
  background-color: aqua;

  img {

    min-width: 100%;
  
    object-position: center;
    height:300px;
  }
  h3 {
    position: absolute;
    top: 45%;
    color: black;
    left: 30px;
    background-color: white;
    opacity: 0.7;
    border-radius: 18px;
    padding: 15px;
  }

  .incele {
    position: absolute;
    right: 30px;
    top: 15px;
    background-color: white;
    opacity: 0.7;
    border-radius: 18px;
    padding: 15px;
    color: black;
    font-weight: "400";
  }
}
