@import "variables";

/* alt + shift + f */

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  h1 {
    font-size: 42px;
    margin-bottom: 30px;
  }

  &-process {
    width: 80%;
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 7px;
      gap: 7px;
      border-radius: 0 20px 20px 0;
      text-decoration: none;
      color: purple;
      font-weight: 600;
    }
    &-right {
      display: flex;
      .input {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 7px;
        border-radius: 20px 0 0 20px;
        button {
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
        }
        input {
          width: 130px;
          padding: 7px;
          border: none;
          outline: none;
        }
      }
    }
    select {
      width: 180px;
      border-radius: 0 20px 20px 0;
      outline: none;
      color: black;
      padding: 7px;
    }
  }

  /* TABLO */
  table{
    width: 80%;
    border-radius: 1em;
    border-collapse:  collapse;//tüm değerler arasındaki boşluları 0 a indirir. tablolar arası için
    background-color: #362f4b;
    margin-top: 30px;
    thead{
        th{
            color: white;
            font-weight: 400;
            padding: 30px 15px;
        }
    }
    tbody{
        background-color: white;
        tr{
            &:nth-child(2n){
                background-color: #cccccc3c;
            }
            th{
                padding: 10px;
                text-align: center;
                img{
                    width: 30px;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                        transition: ease .7s;
                        background-color: #ccc;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
  }
}
